body {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #4c4c4c;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: white;
}

#answerButton,
#questionButton,
#randomizeButton {
  margin: 20px 10px;
}

.questions {
  margin: 20px;
}

#chart-container {
  width: 80vw;
  height: 60vh;
  aspect-ratio: 4 / 2;
}

@media (max-width: 768px) {
  #chart-container {
    width: 90vw;
    height: 60vh;
    aspect-ratio: 2 / 4;
  }
}

#infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-size: 1em;
}